/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #000000;
}

h2 {
    font-size: 48px;
}

h3 {
    max-width: 24vw;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-bottom: 41px;
    text-align: left;
}

/* h4 */
.newHeadline {
    text-align: center;
    width: 966px;
    font-weight: 900;
    font-size: 55px;
    color: #FFFFFF;
    margin: 140px 144px 40px;
}

h5 {
    font-weight: 900;
    font-size: 48px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Buttons */
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
}

#newArrivals {
    display: inline-block;
    margin: 140px 0px 117px 110px;
    background-image: url(../img/background_headline.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Header */
#headline {
    font-size: 96px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #000000;
    padding-left: 119px;
}

.headerDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding-left: 119px;
}

#headlineYellow {
    margin-top: 77px;
    background-image: url(../img/background-main-headline-white.svg);
    background-repeat: no-repeat;
}

#headlineWhite {
    background-image: url(../img/background-main-headline-yellow.svg);
    background-repeat: no-repeat;
}

#headerBegin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 100px;
    background-image: url(../img/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 59px;
}

#shopNow {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 30px 0px 89px 119px;
    font-size: 30px;
    width: 250px;
    height: 85px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    margin: 46px 100px 56px 100px;
}
.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    font-size: 22px;
    color: #242323;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a:visited {
    color: #242323;
}

/* Cookie Banner */
#cookieBanner {
    background: rgba(251, 237, 163, 0.5);
    backdrop-filter: blur(15px);
    position: fixed;
    height: 100%;
    width: 100%;
}

#weUseCookies {
    display: flex;
    padding: 27px 100px 26px;
    align-items: center;
    /* justify-items: space-between; */
    background-color: #FBEDA3;
} 

#cookieHeadline {
    background-position: right bottom;
    background-image: url(../assets/img/background_headline.svg);
}

#cookieBtn {
    /* display: flex; */
    justify-content: end;
    gap: 20px;
}

#accept, #signUp {
    background-color: #000000;
    color: #FFFFFF;
}

#reject {
    background-color: #FFFFFF;
    color: #000000;
}

/* Sections shoes */
#katShoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0px 70px;
}

.articleTotal {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.art {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.plus {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #191919;
    background-color: white;
    border: none;
}

.name {
    font-family: 'Poppins', sans-serif;
    color: #191919;
    font-size: 32px;
    margin-top: 28px;
}

.priceAndArrow {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.price, .brand {
    font-family: 'Poppins', sans-serif;
    color: #7F7F7F;
    font-size: 24px;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.shoeTotal  {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.shoeSizes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sizes {
    font-size: 24px;
    font-weight: 500;
    color: #7F7F7F;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

/* Download Apps */
#download {
    display: flex;
}

#downloadDescription, #iphone {
    width: 50%;
}

#downloadDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#downloadDescription p {
    width: 25vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #7C7C7C;
    margin-bottom: 65px;
}

#downloadDescription div {
    display: flex;
    gap: 19px;
}

#iphone img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5C643;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.newParagraph {
    font-size: 32px;
    margin-bottom: 40px;
}

#respondShortly {
    margin-bottom: 170px;
}

form {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-width: 574px;
    border-radius: 10px;
    margin: 0px 0px 140px 0px;
}

input[type='email'] {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
}

#send {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 10px;
}

/* Shopping Cart */
.shoppingCart {
    display: flex;
    position: fixed;
    right: 1px;
    bottom: 50px;
    opacity: 0.1;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #FBEDA3;
    margin-right: 60px;
}

#cart img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

#cartCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    background-color: #E5C643;
    transform: translate(35px, -15px);
}

/* Footer */

footer {
    padding: 119px 100px 147px 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    gap: 200px;
    background-color: #000000;
    color: #8E8E8E;
    line-height: 40px;
}

footer a, .firstList {
    font-size: 24px;
}

.firstList {
    color: #EAEAEA;
}

#footerHeadline {
    width: 20vw;
    margin-bottom: 47px;
}

footer h5 {
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 32px;
}

.socialMedia img {
    background-color: #EBD96B;
    border: none;
    border-radius: 15px;
    padding: 15px;
    opacity: 0.7;
    margin-right: 14px;
}
#facebook {
    padding: 13px 19px;
}